<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medication Tracker</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header class="header">
        <h1>Medication Tracker</h1>
        <p class="typing-text">Never miss a dose!</p>
    </header>
    <main>
        <!-- Content will be dynamically inserted here -->
    </main>
    <footer>
        <p>&copy; 2024 Medication Adherence Tracker. All rights reserved.</p>
    </footer>
</body>

</html>